.entry .body{
    margin: 0 0 1em;
}

@media only screen and (max-width: 768px) {
    .item-title {
        margin-top: 10px !important;
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  